In [12]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 

from sklearn.model_selection import train_test_split  
from sklearn.svm import SVC

# Load of the file of data about the 50 last meters to the traffic light

In [13]:
badBehaviourData = pd.read_csv("C:/Users/Ivan/Desktop/badBehaviour.txt",delim_whitespace=True, names =[ 55,  50, 45,  40,  35,  30,  25,  20,  15,  10,  5, "class"])  
badBehaviourData.head()

,55,50,45,40,35,30,25,20,15,10,5,class
0,29.34,29.34,29.34,29.33,29.33,29.33,29.34,29.33,29.33,29.32,29.32,0
1,35.45,35.46,35.47,35.47,35.46,35.47,35.46,35.45,35.47,35.37,35.18,0
2,37.17,36.94,36.73,36.59,36.41,36.21,36.00,35.86,35.68,35.45,35.25,0
3,36.70,36.49,36.36,36.17,35.96,35.77,35.58,35.43,35.24,35.05,35.08,1
4,37.07,36.85,36.72,36.51,36.31,36.08,35.96,35.72,35.51,35.33,35.26,1

# Division of the data in x and y axis
We need to separate the class column that shows when a vehicle have a red light running (1), known as bad behaviour, and a right stop at the traffic light, known as right behaviour (0)

> bad behaviour **(1)**

> good behaviour **(0)**

In [14]:
x = badBehaviourData.drop('class', axis=1)  
y = badBehaviourData['class']

# Division of the data in training, test and validation datasets
To do this we divide first all the data into training and test, and later we divide again the training dataset into training and validation

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=1)

# Training Phase
Now we have separate the different datasets we can train our SVM using the training data. Scikit-Learn contains the svm library, which contains built-in classes for different SVM algorithms. This class takes one parameter, which is the kernel type. This is very important. In the case of a simple SVM we simply set this parameter as "linear" since simple SVMs can only classify linearly separable data.

The fit method of SVC class is called to train the algorithm on the training data, which is passed as a parameter to the fit method.

In [16]:
svclassifier = SVC(kernel='linear')  
svclassifier.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)